<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener class-name="scripts.Listeners"></listener>
	</listeners>

	<test name="Sanity Test">
		<classes>
			<class name="scripts.Scenario1" />
			<class name="scripts.Scenario2" />
			<class name="scripts.Scenario3" />
			<class name="scripts.Scenario4" />
		</classes>
	</test>


</suite> 
